<html>
    <head>
        <script src="static/browser.thinbus.js"></script>
        <script type="text/javascript" src="static/jsbn.js"></script>
        <script type="text/javascript" src="static/jsbn2.js"></script>
        <script type="text/javascript" src="static/sha1.js"></script>
        <script type="text/javascript" src="static/sjcl.js"></script>
        <script type="text/javascript" src="static/srp-client.js"></script>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1>SRP Protocol</h1>
        <p>
        You need to <a href="/register">register using SRP</a> to be able to login. 
        </p>
        <form action="/authenticate" method="post">
            username <input type="text" name="username" id="username"></input><br/>
            password <input type="password" name="password" id="password"></input><br/>
            <input type="hidden" name="credentials" id="credentials"></input>
            <input type="hidden" name="u" id="u"></input>
            <input type="hidden" name="k" id="k"></input>
            <button type="button" onclick="autenticate(this.parentElement)">Login</button>
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
<script>
// RFC 5054 2048bit constants

function autenticate(form) {
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    var srp = new SRPClient(username, password, 2048);

    var a = srp.srpRandom();
    var A = srp.calculateA(a);

    document.getElementById('password').value = null;
    
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const response = JSON.parse(this.responseText);
            const salt = response.salt;
            var B = new BigInteger(response.B);

            console.log("SALT - >" + salt);
            console.log("B ->" + B);

            var Sc = srp.calculateS(B, salt, u, a);
            console.log(Sc)
            form.submit();
        }
    };
    xhttp.open("POST", "/challange", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("username="+username+"&server_a="+A,"&random_b="+b );
}

</script>
    </body>
</html>
