<html>
    <head>
        <!-- NOTE this script is at https://github.com/simbo1905/thinbus-srp-npm/blob/master/browser.js -->
        <script src="static/browser.thinbus.js"></script>
        <script type="text/javascript" src="static/jsbn.js"></script>
        <script type="text/javascript" src="static/jsbn2.js"></script>
        <script type="text/javascript" src="static/sha1.js"></script>
        <script type="text/javascript" src="static/sjcl.js"></script>
        <script type="text/javascript" src="static/srp-client.js"></script>
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1>Secure Remote Password Register Demo</h1>
        <form action="/save" method="post">
            username <input type="text" name="username" id="username"></input><br/>
            password <input type="password" name="verifier" id="verifier"></input><br/>
            <input type="hidden" name="salt" id="salt"></input>
            <input type="hidden" name="verifier" id="verifier"></input>
            <button type="button" onclick="createVerifier(this.parentElement)">Register</button>
        </form>
<script>

function createVerifier(form) {
    var password = document.getElementById('verifier').value;
    var username = document.getElementById('username').value;

    
    var bits     =  2048;
    var srp = new SRPClient(username, password, bits);
    // 1. The client generates a random hex salt.
    var salt = srp.randomHexSalt();
    // 2. The client calculates its verifier value.
    var verifier = srp.calculateV(salt);
    console.log(salt)
    console.log(verifier)

    document.getElementById('verifier').value = verifier;
    document.getElementById('salt').value = salt;
    form.submit();
}
</script>
    </body>
</html>
