<html>
    <head>
        <script src="static/browser.thinbus.js"></script>
        <script type="text/javascript" src="static/jsbn.js"></script>
        <script type="text/javascript" src="static/jsbn2.js"></script>
        <script type="text/javascript" src="static/sha1.js"></script>
        <script type="text/javascript" src="static/sjcl.js"></script>
        <script type="text/javascript" src="static/srp-client.js"></script>
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1 class="text-danger">SRP Protocol</h1>
        <p>
        You need to <a href="/register">register using SRP</a> to be able to login. 
        </p>
        <form action="/authenticate" method="post">
            username <input type="text" name="username" id="username"></input><br/>
            password <input type="password" name="password" id="password"></input><br/>
            <input type="hidden" name="credentials" id="credentials"></input>
            <button type="button" onclick="autenticate(this.parentElement)">Login</button>
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
<script>


function autenticate(form) {
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    var srp = new SRPClient(username, password, 2048,'sha-1');

    // 1. The client generates and stores A
    var a = srp.srpRandom();
    var A = srp.calculateA(a);
    var data = {
        "username": username,
        "A":  A.toString()
    };
    //console.log('A -> ',A)
    //console.log('username: ',username)
    //console.log('password: ', password)

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const response = JSON.parse(this.responseText);
            console.log('response :', response)
            console.log("Hello")
            // 2.1: Client receives: salt, B, v from server
            var salt = response.salt;
            var B = response.B;
            var v = response.verifier;
            console.log(salt)
            console.log(B)
            console.log(v)
            var salt = new BigInteger(salt,16);
            var B = new BigInteger(B,16);
            var v = new BigInteger(v,16);
            console.log(salt)
            console.log(B)
            console.log(v)

            //3. Server receives A and generates B
            var b1 = srp.srpRandom();
            var B = srp.calculateB(b1, v);
            var u = srp.calculateU(A, B);
            var Sc = srp.calculateS(B, salt, u, a);
            var Ss = srp.calculateServerS(A, v, u, b1);
            var cre = document.getElementById('credentials');
            cre.value = Sc;
            console.log("SC key: ===== "+ Sc);
            console.log("SS key: ===== "+ Ss);
            
        }
    };
    xhttp.open("POST", "/challange", true);
    xhttp.setRequestHeader("Accept", "application/json");
    xhttp.setRequestHeader("Content-Type", "application/json");
    xhttp.send(JSON.stringify(data));
}
</script>
    </body>
</html>
